h1, h2, h3, p, a, label {
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-color: rgb(50,0,1);
}

header {
    max-width: fit-content;
    margin: 0 auto;
}
header a {
    color: rgb(173,166,119);
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    display: inline-block;
}

header a:hover {
    text-decoration: none;
    color: rgb(173,166,119);
}

.front-page img {
    max-width: 100%;
}

div.container .btn {
    background-color: #FFFFFFAB;
    border: solid 4px rgb(173,166,119);
}

.handshake img {
    max-width: 60%;
}

.page-name {
    color: rgb(173,166,119);
}

div.container.row .col p{
    font-size: larger;
}

form .row h3 {
    color: rgb(173,166,119);
}

form .row label {
    color: darkgrey;
    margin-left: 10px;
    font-size: larger;
}