body {
    background-color: rgb(50,0,1);
}

header {
    max-width: fit-content;
    margin: 0 auto;
}
header a {
    color: rgb(173,166,119);
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    display: inline-block;
}

header a:hover {
    text-decoration: none;
    color: rgb(173,166,119);
}

.front-page img {
    max-width: 100%;
}

div.container .btn {
    background-color: #FFFFFFAB;
    border: solid 4px rgb(173,166,119);
}

.handshake img {
    max-width: 60%;
}